*{
  margin: 0px;
  padding: 0px;
}

#root{
  height: 100vh;

  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255, 0.2)), url("../public/bacground.jpg");
  background-size: cover;
}